header {
    position: relative;
    margin-bottom: 10px;

    //Prevents text highlighting
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */

    .header-banner {
        font-size: 13px;
        margin-left: 50%;
        transform: translateX(-50%);
        max-width: 1200px;
        width: 100%;
        position: relative;
        display: inline-block;

        ul {
            list-style: none;
            white-space: nowrap;
            margin:0px;
            padding: 0px;
            display: inline-block;

            &.sort-by {
                //margin-left: 50%;
                //transform: translateX(-50%);
            }

            &.account-info {
                float: right;
            }

            li {
                display: inline;
            }
        }

    } // End .header-banner
}

//Responsive
@media only screen and (min-width: 670px) {
    .header-container {
    }
}
